<div>
    <a href="#" class="nav_logo"> <i class='bx bx-layer nav_logo-icon'></i> <span
            class="nav_logo-name">INFOTECH</span> </a>
    <div class="nav_list">
        <a href="/admin/AdminDirectory" class="nav_link"> <i class='bx bx-user nav_icon'></i> <span
                class="nav_name">EDS</span>
        </a>
        <a href="/admin/AdminAddEmp" class="nav_link"> <i class='fa-solid fa-user-plus'></i> <span
                class="nav_name">AddEmp</span>
        </a>
        <a href="/admin/AdminRequests" class="nav_link"> <i class='bx bx-message-square-detail nav_icon'></i>
            <span class="nav_name">Requests</span> </a>
        <a href="/admin/AdminDepartments" class="nav_link"> <i class="fa-solid fa-building-user"></i> <span
                class="nav_name">Departments</span> </a>
        <a href="/admin/AdminProjects" class="nav_link"> <i class='bx bx-folder nav_icon'></i> <span
                class="nav_name">Projects</span>
        </a>
        <a href="/admin/AdminPortalMaster" class="nav_link"> <i class="fa-solid fa-globe"></i> <span
                class="nav_name">Portal Master</span>
        </a>
        <a href="/admin/AdminEvents" class="nav_link"> <i class='bx bx-bar-chart-alt-2 nav_icon'></i> <span
                class="nav_name">Events</span> </a>
    </div>
</div>
    <a href="/logout" class="nav_link"> <i class='bx bx-log-out nav_icon'></i> <span
            class="nav_name">SignOut</span> </a>

 