<div> <a href="#" class="nav_logo"> <i class='bx bx-layer nav_logo-icon'></i> <span
    class="nav_logo-name">INFOTECH</span> </a>
<div class="nav_list"> <a href="/hr/Hrindex" class="nav_link active"> <i class='bx bx-grid-alt nav_icon'></i>
    <span class="nav_name">Dashboard</span> </a> <a href="/hr/Hrdirectory" class="nav_link"> <i
        class='bx bx-user nav_icon'></i> <span class="nav_name">EDS</span> </a>
<a href="/hr/HrNotifications" class="nav_link"> <i
        class='bx bx-message-square-detail nav_icon'></i> <span class="nav_name">Messages</span>
</a> <a href="/hr/HrLeaves" class="nav_link"> <i class='bx bx-bookmark nav_icon'></i> <span
        class="nav_name">Leaves</span> </a> <a href="/hr/HrProjects" class="nav_link"> <i
        class='bx bx-folder nav_icon'></i> <span class="nav_name">Projects</span>
</a>
<a href="/hr/HrCalender" class="nav_link"> <i class='bx bx-bar-chart-alt-2 nav_icon'></i> <span
        class="nav_name">Events</span> </a>
</div>
</div> <a href="/logout" class="nav_link"> <i class='bx bx-log-out nav_icon'></i> <span
class="nav_name">SignOut</span> </a>